# the usual suspects for Perl module development
MANIFEST.bak
Makefile
Build
blib/
pm_to_blib
MYMETA.*
META.*

# avoid temp and backup files
*.old
*.bak
*.tmp
*.rej
*.orig

# project specific stuff
t/zz*
